.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(31, 30, 30);
  height: 100vh;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
